Job {
	Name = {{ cname }}
	Type = Backup
	Level = Full
	Client = {{ cname }}
	Accurate = yes
	FileSet = {{ cname }}_path
	Storage = {{ storage_location }}
	Pool = {{ cname }}_full
	Schedule = {{ cname }}_schedule
	Messages = Standard
	Write Bootstrap = "/backup/bootstrap_files/%j_%l_%i_%e.bsr"
}
